[submodule "backend/processor/submodules/pmp-library"]
	path = backend/processor/submodules/pmp-library
	url = https://github.com/SivanDuijn/pmp-library.git
	branch = main
[submodule "backend/processor/submodules/annoy"]
	path = backend/processor/submodules/annoy
	url = https://github.com/spotify/annoy.git
